numpy
seaborn
torch
transformers==4.46.2
sentencepiece
protobuf

git+https://EnricoSimionato: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@github.com/EnricoSimionato/Experiment-Orchestrator.git@master#egg=exporch
